.cardsGrid {
    margin: 0 auto;
    max-width: 1480px;
    min-width: 300px;
    min-height: 400px;
    background: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}